#Ignora arquivos de configuração de pastas do KDE
.directory

#Ignora banco de dados de treino da CNN
plantio_14_10_2024_treino/

#Ignora banco de dados de validação da CNN
plantio_14_10_2024_validacao/

__pycache__

.venv

target

teste_1_python_onnx

labels.txt

log_validacao_completo.txt

modelo_redsia_soja_vgg16.zip

resnet50_soja.pth

test_onnx.py

test_pytorch.py

teste.py
